/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  overflow-x: hidden;
}

.botoes-fixos {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre eles */
  z-index: 999;
}

.btn-som {
  background: #00c853;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.whatsapp img {
  width: 50px;
  height: 50px;
}


/* ================= HEADER ================= */

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.logo {
  width: 45px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #0e3d3d;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}

.right-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

#userInfo {
  color: #0e3d3d;
  font-size: 12px;
}

.cart {
  font-size: 18px;
  cursor: pointer;
}

.menu {
  display: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.logout {
  border-radius: 6px;
  background: #1fb5a8;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 13px;
}
.logout-mobile {
  display: none;
}

/* ================= HERO ================= */

.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 60px 40px;
  background: url("BANNER.jpg") no-repeat center center/cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.conteudo {
  position: relative;
  max-width: 700px;
  color: white;
  z-index: 2;
}

.bemvindo {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn-plataforma {
    background: #1fb5a8;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.btn-plataforma:hover {
  background: #16a085;
}

.hero h1 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.linha {
  width: 60px;
  height: 3px;
  background: #1fb5a8;
  margin: 20px 0;
}

.descricao {
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 1.6;
}

.btn-secundario {
  background: #1fb5a8;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.btn-secundario:hover {
  background: #16a085;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.contato {
  margin-top: 30px;
  font-size: 14px;
}

/* ================= LOADING ================= */

.loading {
  position: fixed;
  inset: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 5px solid #333;
  border-top: 5px solid #16a085;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* ================= RESPONSIVO ================= */

@media (max-width: 768px) {

  .nav-links {
    border-radius: 8px;
    display: none;
    flex-direction: column;
    background: #16a085;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 15px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu {
  width: 40px;
  height: 40px;
  background: #1fb5a8; /* verde principal */
  color: white; /* cor do ⋮ */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

  .logout {
    border-radius: 3px;
    display: none;
  }

  .logout-mobile {
    display: block;
    background: #d3d62c;
    color: #0039b3;
    border-radius: 6px;
    padding: 6px;
    margin-top: 10px;
  }

  .hero {
    padding: 40px 20px;
  }

  .hero h1 {
    font-size: 28px;
  }
